div.modal.fade(id='equipModal' role='dialog' aria-labelledby='equipModalLabel' aria-hidden='true')
  div.modal-dialog
   div.row
    div.modal-content.col-md-12
      div.modal-body
        form.form-horizontal(method="POST", action="/admin/equipment/add", id="addequipform" enctype="multipart/form-data" novalidate)
          div.form-group
            h3 Add Equipment
            label.form-label(for="type") Type Description:
            select.form-control(type="select", id="type",placeholder="Select Equipment Type", name="type", autofocus required)
              option(value = "" disabled selected) Please select a value
          div.form-group
            label.form-label(for="make") Manufacturer Name:
            input.form-control(type="input", id="make",placeholder="Manufacturer Name", name="make", required)
          div.form-group
            label.form-label(for="model") Model Name/Number:
            input.form-control(type="input", id="model",placeholder="Model Name/Number", name="model", required)
          div.form-group
            label.form-label(for="description") Product Description:
            input.form-control(type="textarea", id="description",placeholder="", name="description")
          div.jumbotron.fileinput
            div.fileinput.fileinput-new(data-provides="fileinput")
              div.fileinput-new.thumbnail(style="width: 425px; height: 250px;")
                img(data-src="holder.js/100%x100%" alt="" src="data:image/png;base64," style="height 250px; width: 425px")+
              div.fileinput-preview.thumbnail.fileinput-exists(style="width: 425px; height: 250px;")
              a.btn.btn-default.fileinput-exists(href="#", data-dismiss="fileinput") Remove
              input.btn.btn-default.fileinput-new(type="file", name="image", id="image")
              
          div.form-group
            button.btn.btn-primary Submit
            text   
            button.btn.btn-danger(data-dismiss='modal') Cancel
