extends ../../layout
block content
  if (message) 
    include ../../feedback
  .row
    h1.page-header Reservation Administration
  .row
    ul.nav.nav-tabs
      li
        a(href="/reservation/admin/pending") Pending
      li
        a(href="/rervation/admin/todays") Todays
      li
        a(href="/reservation/admin/late") Late Returns
      li.active
        a(href="#") Active
      li
        a(href="/reservation/admin/all") All
  .row
    div.input-group.btn-group.filter-box
      span.input-group-addon Filter
      input#filter.form-control(style="width:200px")
      //a#addbutton(href='#equipModal' role='button' data-toggle="modal" data-target="#equipModal")
        button.btn.btn-success.btn-md.addlink Add
    div.table.table-responsive
      table#eqlist.table.table-hover
        thead
          tr#tableheadings
            th Id#
            th First
            th Last
            th Start
            th End
            th Status
            th Phone
            th Email
            th Actions
            th
            th
            th
            th
        tbody
          tr#tablecontents
    ul.pager
          li.page-control.previous
            a(href='#') ← Prev
          li.page-control.next
            a(href='#') Next →

  include ../user/showresmodal

block css
  link(rel='stylesheet', href='/stylesheets/alertify.core.css')
  link(rel='stylesheet', href='/stylesheets/alertify.bootstrap.css')
block scripts
  script(src='/scripts/moment.js')
  script(src='/scripts/alertify.min.js')
  script(src='/scripts/page/activereservations.js')
  script(src='/scripts/jquery.blockUI.js')