extends ../../layout
block content
  .row
    h1.page-header Reservation Admin
  .row
    .dashcontainer.col-lg-6
      h4.sub-header.section-header Todays Pickups
      .row.col-lg-6
        div.input-group.filter-box
          span.input-group-addon Filter
          input.form-control
      .row
        div.table.table-responsive.col-lg-5
          table.table.table-hover.table-responsive.table-condensed(style="background-color:white")
            thead
              tr
                th Customer
                th Return Time
                th # Items
                th Avail
                th
            tbody
              tr
    .col-lg-2
    .dashcontainer.col-lg-6
      h4.sub-header.section-header Todays Returns
      .row.col-lg-6
        div.input-group.filter-box
          span.input-group-addon Filter
          input.form-control
      .row
        div.table.table-responsive.col-lg-5
          table.table.table-hover.table-responsive.table-condensed(style="background-color:white")
            thead
              tr
                th Customer
                th Return Time
                th # Items
                th Avail
                th
            tbody
              tr
  .row
    .dashcontainer.col-lg-6
      h4.sub-header.section-header Pending Items
      .row.col-lg-6
        div.input-group.filter-box
          span.input-group-addon Filter
          input.form-control
      .row
        div.table.table-responsive.col-lg-5
          table.table.table-hover.table-responsive.table-condensed(style="background-color:white")
            thead
              tr
                th Customer
                th Return Time
                th # Items
                th Avail
                th
            tbody
              tr
    .col-lg-2
    .dashcontainer.col-lg-6
      h4.sub-header.section-header Past-Due Items
      .row.col-lg-6
        div.input-group.filter-box
          span.input-group-addon Filter
          input.form-control
      .row
        div.table.table-responsive.col-lg-5
          table.table.table-hover.table-responsive.table-condensed(style="background-color:white")
            thead
              tr
                th Customer
                th Return Time
                th # Items
                th Avail
                th
            tbody
              tr

block css
  link(rel='stylesheet', href='/stylesheets/alertify.core.css')
  link(rel='stylesheet', href='/stylesheets/alertify.bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
block scripts
  script(src='/scripts/moment.js')
  script(src='/scripts/bootstrap-datetimepicker.js')
  script(src='/scripts/alertify.min.js')
  //script(src='/scripts/page/reservationdash.js')
  script(src='/scripts/holder.js')