div.modal.fade(id='equipModal' role='dialog' aria-labelledby='equipModalLabel' aria-hidden='true')
  div.modal-dialog
   div.row
    div.modal-content.col-md-12
      div.modal-body(style="background-color: white")
        form.form-horizontal(method="POST", action="/admin/equipment/add", id="addequipform" enctype="multipart/form-data" novalidate)
          div.form-group
            h3 Add Equipment
            label.form-label(for="type") Type Description:
            select.form-control(type="select", id="type",placeholder="Select Equipment Type", name="type", autofocus required)
              option(value = "" disabled selected) Please select a value
            p.help-block
          div.form-group
            label.form-label(for="make") Manufacturer Name:
            input.form-control(type="input", id="make",placeholder="Manufacturer Name", name="make", required)
            p.help-block
          div.form-group
            label.form-label(for="model") Model Name/Number:
            input.form-control(type="input", id="model",placeholder="Model Name/Number", name="model", required)
            p.help-block
          div.form-group
            label.form-label(for="description") Product Description:
            textarea.form-control(type="text", rows="3", id="description",placeholder="Product Description", name="description", maxlength="150")
            p.help-block
          div.form-group
            div.fileinput.fileinput-new(data-provides="fileinput")
              div.fileinput-new.thumbnail
                img#addplaceholder
              div.fileinput-preview.thumbnail.fileinput-exists(style="width: 100%; height: 100%;")
              a.btn.btn-default.fileinput-exists(href="#", data-dismiss="fileinput") Remove
              input.btn.btn-default.fileinput-new(type="file", name="image", id="image")        
          div.form-group
            button.btn.btn-primary Submit
            text   
            button.btn.btn-danger(data-dismiss='modal') Cancel