div.modal.fade(id='addTypeModal' role='dialog' aria-labelledby='addTypeModalLabel' aria-hidden='true')
  div.modal-dialog
   div.row
    div.modal-content.col-md-12
      div.modal-body
        form.form-horizontal(method="POST", action="/admin/equipment/type/add", id="addtypeform" novalidate)
          div.form-group
            h3 Add Equipment Type
            label.form-label(for="type") Please Enter Type Description:
            input.form-control(type="input", id="type",placeholder="e.g. Camera Lens", name="type", minlength="1", maxlength="45" autofocus required)
            p.help-block
          div.form-group
            button.btn.btn-primary Submit
            text
            button.btn.btn-danger(data-dismiss='modal') Cancel