div.modal.fade(id='addinventory' role='dialog' aria-labelledby='addinventorylabel' aria-hidden='true')
  div.modal-dialog
   div.row
    div.modal-content.col-md-12
      div.modal-body
        form.form-horizontal(method="POST", action="/admin/equipment/item/add", id="addinventoryform" enctype="multipart/form-data" novalidate)
          div.form-group
            h3 Add Inventory
          div.form-group
            label.sr-only(for="inventory_id1") Inventory ID
            input.form-control(type="text" id="inventory_id1", name="inventory_id1",placeholder="Inventory ID", autofocus required)
          div.form-group
            label.sr-only(for="inventory_id2") Inventory ID
            input.form-control(type="text" id="inventory_id2", name="inventory_id2",placeholder="Inventory ID")
          div.form-group
            label.sr-only(for="inventory_id3") Inventory ID
            input.form-control(type="text" id="inventory_id3", name="inventory_id3",placeholder="Inventory ID")
          div.form-group
            label.sr-only(for="inventory_id4") Inventory ID
            input.form-control(type="text" id="inventory_id4", name="inventory_id4",placeholder="Inventory ID")
          div.form-group
            label.sr-only(for="inventory_id5") Inventory ID
            input.form-control(type="text" id="inventory_id5", name="inventory_id5",placeholder="Inventory ID")
          div.form-group
            input.form-control(type="text" id="equip_id", name = "equip_id" style="visibility:hidden")
            button.btn.btn-primary Submit
            text   
            button.btn.btn-danger(data-dismiss='modal') Cancel
