div.modal.fade(id='editequipModal' role='dialog' aria-labelledby='editequipModalLabel' aria-hidden='true')
  div.modal-dialog
   div.row
    div.modal-content
      div.modal-body
        form.form-horizontal(method="POST", action="/admin/equipment/update", id="editequipform" enctype="multipart/form-data" novalidate)
          div.form-group
            h3 Edit Equipment
            input.form-control(type="input",id="equip_id",name="equip_id",style="display:none")
            label.form-label(for="type_id") Type Description:
            select.form-control(type="select", id="type_id", name="type_id", autofocus required)
              option(value = "" disabled selected) Please select a value
            p.help-block
          div.form-group
            label.form-label(for="make") Manufacturer Name:
            input.form-control(type="input", id="make",placeholder="Manufacturer Name", name="make", required)
            p.help-block
          div.form-group
            label.form-label(for="model") Model Name/Number:
            input.form-control(type="input", id="model",placeholder="Model Name/Number", name="model", required)
            p.help-block
          div.form-group
            label.form-label(for="description") Product Description:
            textarea.form-control(type="text", rows="3", id="description",placeholder="", name="description", maxlength="150")
            p.help-block
          div.form-group
            div.fileinput.fileinput-new(data-provides="fileinput")
              div.fileinput-new.thumbnail
                img
              div.fileinput-preview.thumbnail.fileinput-exists(style="width: 100%; height: 100%;")
              a.btn.btn-default.fileinput-exists(href="#", data-dismiss="fileinput") Remove
              input.btn.btn-default.fileinput-new(type="file", name="image", id="image")         
          div.form-group
            button.btn.btn-primary Submit
            text   
            button.btn.btn-danger(data-dismiss='modal') Cancel
