div.modal.fade(id='editTypeModal' role='dialog' aria-labelledby='editTypeModalLabel' aria-hidden='true')
  div.modal-dialog
   div.row
    div.modal-content.col-md-12
      div.modal-body
        form.form-horizontal(method="POST", action="/admin/equipment/type/update", id="edittypeform")
          div.form-group
            h3 Edit Equipment Type
            label.form-label(for="type_desc") Please Enter Type Description:
            input.form-control(type="input", id="type_id", name="type_id" style="display:none")
            input.form-control(type="input", id="type_desc",placeholder="", name="type_desc", autofocus required)
          div.form-group
            button.btn.btn-primary Submit
            text
            button.btn.btn-danger(data-dismiss='modal') Cancel