extends ../layout

block content
  if (message) 
    include ../feedback/feedback
  div.col-xs-12.col-sm-9
      h2 Report Administration
      br
      div(id="table1")
        table.table.table-responsive(id="mytable")
          tr.active
            th 
            th View
            th Add
          tr 
            td
              strong Equipment Types
            td
              a(href='/admin/equipment/type/list')
                button.btn.btn-info.btn-sm
                  span.glyphicon.glyphicon-search
            td
              a(href='#typeModal' role='button' data-toggle="modal" data-target="#typeModal")
                button.btn.btn-success.btn-sm
                  span.glyphicon.glyphicon-plus
          tr 
            td 
              strong Equipment
            td
              a(href='/admin/equipment/list')
                button.btn.btn-info.btn-sm
                  span.glyphicon.glyphicon-search
            td
              a(href='#equipModal' role='button' data-toggle="modal" data-target="#equipModal")
                button.btn.btn-success.btn-sm
                  span.glyphicon.glyphicon-plus
          tr 
            td 
              strong Equipment Items
            td
              a(href='/admin/equipment/item/list')
                button.btn.btn-info.btn-sm
                  span.glyphicon.glyphicon-search
            td
              a(href='/admin/equipment/item/new')
                button.btn.btn-success.btn-sm
                  span.glyphicon.glyphicon-plus
          tr 
            td 
              strong Equipment Statuses
            td
              a(href='/admin/equipment/status/list')
                button.btn.btn-info.btn-sm
                  span.glyphicon.glyphicon-search
            td
              a(href='/admin/equipment/status/new')
                button.btn.btn-success.btn-sm
                  span.glyphicon.glyphicon-plus
  //Modals
  include ../modals/addequiptype
  include ../modals/addequipment
block scripts
  script(src='/scripts/bootstrap-file-input.js')
  script(src='/scripts/page/equipment.js')
  script(src='/scripts/jqBootstrapValidation.js')