extends ../layout
block content
  if (message) 
    include ../feedback
  .row
    h1.page-header Equipment Administration
  .row
    ul.nav.nav-tabs
      li.active
        a(href="#") Equipment
      li
        a(href="/admin/equipment/type/view") Equip Type

  .row
    div.input-group.btn-group.filter-box
      span.input-group-addon Filter
      input#filter.form-control(style="width:200px")
      a#addbutton(href='#equipModal' role='button' data-toggle="modal" data-target="#equipModal")
        button.btn.btn-success.btn-md.addlink Add
    div.table.table-responsive
      table#eqlist.table.table-hover
        thead
          tr#tableheadings
            th Type
            th Make
            th Model
            th Inventory
            th 
            th
            th
        tbody
          tr#tablecontents
    ul.pager
          li.page-control.previous
            a(href='#') ← Prev
          li.page-control.next
            a(href='#') Next →

  //Modals
  include ../equipment/editequipment
  include ../equipment/addequipment

block css
  link(rel='stylesheet', href='/stylesheets/jasny-bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/alertify.core.css')
  link(rel='stylesheet', href='/stylesheets/alertify.bootstrap.css')
block scripts
  //script(src='/scripts/bootstrap-file-input.js')
  script(src='/scripts/jqBootstrapValidation.js')
  script(src='/scripts/jasny-bootstrap.min.js')
  script(src='/scripts/alertify.min.js')
  script(src='/scripts/page/equiplist.js')
  script(src='/scripts/holder.js')
  script(src='/scripts/jquery.blockUI.js')
