extends ../layout

block content
  if (message) 
    include ../feedback/feedback
  div.col-xs-12.col-sm-9
      h2 Report Administration
      h3 Reports
      br
      div(id="table")
        table.table.table-hover.table-responsive(id="mytable")
          tr
            th Name
            th Published
            th Owner
            th Last Updated
          tr 
            td one
            td two
            td seven
            td four
          tr 
            td one
            td two
            td three
            td four
          tr
            td one
            td two
            td three
            td four
          tr 
            td one
            td two
            td three
            td four
block scripts