extends ../layout
block content
  if (message) 
    include ../feedback/feedback
  div.col-xs-12.col-sm-9
    h2.clearfix Report Administration
      br
    div.table-responsive
      table.table.table-hover
        span
          label.form-label(for="type") Type Description:
          select.form-control.append(type="select", id="type",placeholder="Select Equipment Type", name="type", autofocus required)
            option(value = "" disabled selected) Please select a value
        thead
          tr
            th Name
            th Position
            th Office
            th Age
            th Start date
            th Salary
        tbody
         
  block css
  block scripts
    script.
      $(document).ready(function() {
        $.getJSON("/admin/equipment/type/list", function (result) {
          $.each(result, function (key, value) {
            $('select').append("<option value='" + value.type_id + "'>" + value.type_desc);
            });
          });
        });