extends ../layout
block content
  if (message) 
    include ../feedback/feedback
  div.col-xs-12.col-sm-9
    h2.clearfix Report Administration
    br
    div.input-group
      span.input-group-addon Filter
      input.form-control(style="width:200px")
    div.table-responsive(style="background-color:white")
      table#eqlist.table.table-hover
        thead
          tr
            th ID
            th Type
            th Make
            th Model
            th Description
            th 
            th
        tbody
          tr#tablecontents
      ul.pager
            li.previous
              a(href='#') ← Prev
            li.next
              a(href='#') Next →
  block css
  block scripts
    script(src="/scripts/page/equiplist.js")