extends layout

block content
 h1= title
 p  #{first_name},  An email was sent to #{email} with instructions on activating your account. 
 p Please activate your account to use the system.  
 a(href="/users/resendactivate") Resend Activation Link 