div.input-group
  span.input-group-addon Filter
  input#filter.form-control
div.table.table-responsive(style="background-color:white")
  table#eqlist.table.table-hover.table-responsive
  thead
    tr#tableheadings
      th Type
      th Make
      th Model
      th Description
      th 
      th
      th
  tbody
      tr#tablecontents
  ul.pager
      li.page-control.previous
          a(href='#') ← Prev
      li.page-control.next
          a(href='#') Next →