extends ../../layout
block content
  .row
    h1.page-header Dashboard
    if (message) 
      include ../../feedback
  .row
    #res.dashcontainer.col-lg-12
      div.table.table-responsive.col-lg-5
        h4.sub-header.section-header My Reservations
        table#res-list.table.table-responsive.table-condensed(style="background-color:white")
          thead
            tr#tableheadings
              th Start
              th End
              th # Items
              th Status
              th 
          tbody#res-body
            tr#res-contents
  .row
    #resdates.dashcontainer
      h4.sub-header.section-header Create Reservation
      form.form-inline
        .form-group
          .col-lg-5
            #startdatetime.input-group.date
              input#startinput.form-control(type='text')
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
          .col-lg-1
          .col-lg-6
            #enddatetime.input-group.date
              input#endinput.form-control(type='text')
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
      .sub-header

  .row
    #aeq.dashcontainer.col-lg-6
      h4.sub-header.section-header Available Equipment
      .row.col-lg-6
        div.input-group.filter-box
          span.input-group-addon Filter
          input#aeq-filter.form-control
      .row
        div.table.table-responsive.col-lg-5
          table#aeq-list.table.table-hover.table-responsive.table-condensed(style="background-color:white")
            thead
              tr#aeq-headings
                th Type
                th Make
                th Model
                th Avail
                th
            tbody#aeq-body
              tr#aeq-contents

    .col-lg-2
    #cart.dashcontainer.col-lg-6
      h4.sub-header.section-header Shopping Cart
        #timerdiv.timerobject.timer.pull-right.hidden
          small Time-Remaining: 
          span#timer.badge 5:00
      .row.col-lg-6
        div.input-group.filter-box(style="visibility:hidden")
          span.input-group-addon Filter
          input#cart-filter.form-control
      .row
        div.table.table-responsive.col-lg-5
          table#cart-list.table.table-hover.table-responsive.table-condensed(style="background-color:white")
            thead
              tr#cart-headings
                th Type
                th Make
                th Model
                th Id#
                th
            tbody#cart-body
              tr#cart-contents
          #cartsubmitbtn.timerobject.cart-btn.btn.btn-success.btn-sm.hidden Reserve
          #cartcancelbtn.timerobject.cart-btn.btn.btn-danger.btn-sm.hidden Cancel 


  include showequipmodal
  include showresmodal

block css
  link(rel='stylesheet', href='/stylesheets/alertify.core.css')
  link(rel='stylesheet', href='/stylesheets/alertify.bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
block scripts
  script(src='/scripts/moment.js')
  script(src='/scripts/bootstrap-datetimepicker.js')
  script(src='/scripts/alertify.min.js')
  script(src='/scripts/page/userdash.js')
  script(src='/scripts/holder.js')