div.modal.fade(id='equipViewModal' role='dialog' aria-labelledby='equipViewModalLabel' aria-hidden='true')
  div.modal-dialog
    div.modal-content
      div.modal-header
        a.close(data-dismiss="modal") &times;
        h4#title Make &amp; Model
      div.modal-body
        div.carousel.slide#myCarousel(data-ride="carousel")
          div.carousel-inner
            div.item.active
              img#image(src="holder.js/900x700/auto/#777:#555/text:No Image Available")
              div.carousel-caption
                h4#caption First Thumbnail label
                p#description Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
                  | Donec id elit non mi porta gravida at eget metus. 
                  |  Nullam id dolor id nibh ultricies vehicula ut id elit.
      div.modal-footer
        //a.btn.btn-primary(href="#cart", data-dismiss="modal") Reserve
        a.btn.modal-close(href="#", data-dismiss="modal") Close