extends emaillayout

block content
  .jumbotron
    h3 #{heading}
    text #{content}
    a(href=link ) Click Here!
    br
    
//This file is used for both the activation email and the password reset email.