nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
 div.container
  //Brand and toggle get grouped for better mobile display
  div.navbar-header
    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    img.navbar-brand(src='/images/logo.png' height="50")
  //Collect the nav links, forms, and other content for toggling
  div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.btn.btn-link.dropdown-toggle(href="#" data-toggle="dropdown") Account
        ul.dropdown-menu(role='menu' aria-labelledby='dLabel')
          li
            a(href="#") My Account
          li.dropdown-submenu
            a(href="#") Logout
