div.alert.alert-danger
  strong Javascript Required: 
  text We detected javascript is not enabled on your browser.  Please enable javascript or the application will not function properly. You may have to close and re-open your broser after enabling javascript.
  br
  br
  a(href="/login" class="btn btn-primary btn-lg active" role="button") Try Again
