div.col-xs-6.col-sm-3.sidebar-offcanvas(id="sidebar" role="navigation")
  div.panel.panel-primary
    .panel-heading.menuheader Menu
    div.list-group
    if(user && user.user_level == -1)
      a.list-group-item(href='/users/login') Admin
      a.list-group-item Links
      a.list-group-item Are
      a.list-group-item Here
      a.list-group-item For
      a.list-group-item Admins
      a.list-group-item Yee!
      a.list-group-item Link
    if(user && user.user_level == 0)
      a.list-group-item User
      a.list-group-item Links
      a.list-group-item Are
      a.list-group-item Not
      a.list-group-item As
      a.list-group-item Cool
      a.list-group-item Boo!
      a.list-group-item Link
    if(!user)
      a.list-group-item(href='/users/login') Login
      a.list-group-item(href='/users/register') Register