if(user && user.user_level == -1)
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
              ul.nav.nav-sidebar
                li.active
                  a(href='#') Dashboard
                li
                  a(href='#') Reservations
                li
                  a(href='#') Equipment
                li
                  a(href='#') Users
                li
                  a(href='#') Account
              ul.nav.nav-sidebar
                li
                  a(href='') Nav item
                li
                  a(href='') Nav item again
                li
                  a(href='') One more nav
                li
                  a(href='') Another nav item
                li
                  a(href='') More navigation
              ul.nav.nav-sidebar
                li
                  a(href='') Nav item again
                li
                  a(href='') One more nav
                li
                  a(href='') Another nav item

if(user && user.user_level == 0)
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
              ul.nav.nav-sidebar
                li.active
                  a(href='#') Dashboard
                li
                  a(href='#') View Equipment
                li
                  a(href='#') Account
                li
                  a(href='/users/logout') Sign-Out
              ul.nav.nav-sidebar
                li
                  a(href='') Nav item
                li
                  a(href='') Nav item again
                li
                  a(href='') One more nav
                li
                  a(href='') Another nav item
                li
                  a(href='') More navigation
              ul.nav.nav-sidebar
                li
                  a(href='') Nav item again
                li
                  a(href='') One more nav
                li
                  a(href='') Another nav item