if(user && user.user_level == -1)
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
              ul.nav.nav-sidebar
                li.active
                  a(href='/reservation/admin/home') Reservations
                li
                  a(href='/admin/equipment') Equipment
                li
                  a(href='/admin/users') Users
                li
                  a(href='/users/account') My Account
                li
                  a(href='/users/logout') Sign-Out

if(user && user.user_level == 0)
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
              ul.nav.nav-sidebar
                li.active
                  a(href='/reservation/user/home') Reservations
                li
                  a(href='/users/account') Account
                li
                  a(href='/users/logout') Sign-Out