div.col-xs-6.col-sm-3.sidebar-offcanvas(id="sidebar" role="navigation")
 div.list-group
  a.list-group-item.active Menu
  a.list-group-item Link
  a.list-group-item Link
  a.list-group-item Link
  a.list-group-item Link
  a.list-group-item Link
  a.list-group-item Link
  a.list-group-item Link
  a.list-group-item Link