div.col-xs-6.col-sm-3.sidebar-offcanvas(id="sidebar" role="navigation")
  div.panel.panel-primary
    .panel-heading.menuheader Menu
    div.list-group
    if(user && user.user_level == -1)
      a.list-group-item(href='/admin/reservations') Reservations
      a.list-group-item(href='/admin/equipment/view') Equipment
      a.list-group-item(href='/admin/equipment/type/view') Equip Types
      a.list-group-item(href='/admin/users/') Users
      a.list-group-item(href='/admin/reports/') Reports
      a.list-group-item(href='/users/account/') My Account
      a.list-group-item(href='/users/logout') Sign Out
    if(user && user.user_level == 0)
      a.list-group-item(href='/reservations/view') My Reservations
      a.list-group-item(href='/reservations/make') Make Reservation
      a.list-group-item(href='/equipment/view') Browse Equipment
      a.list-group-item(href='/contact') Contact Admin
      a.list-group-item(href='/users/account/') My Account
      a.list-group-item(href='/users/logout') Sign Out
    if(!user)
      a.list-group-item(href='/users/login') Login
      a.list-group-item(href='/users/register') Register