//HEADER CSS
.header
 width: 100%;
 height: 130px;
 background-color: rgb(200,200,200);
    
 .headerlogo
  height: 120px;

//LOGIN PAGE CSS

.loginmessage
 color: red;

.loginoptions
 margin-top: 10px;
