.header {
  width: 100%;
  height: 75px;
  background-color: rgb(255, 255, 255);
}
.header .headerlogo {
  height: 120px;
}
.page-header {
  padding-top: 10px;
}
.loginmessage {
  color: #f00;
}
.loginoptions {
  margin-top: 10px;
}
