div.modal.fade(id='edituser' role='dialog' aria-labelledby='edituserlabel' aria-hidden='true')
  div.modal-dialog
   div.row
    div.modal-content.col-md-12
      div.modal-body
        form.form-horizontal(method="POST", action="/admin/users/update", id="edituserform" enctype="multipart/form-data" novalidate)
          div.form-group
            h3 Edit User
          div.form-group
            label(for="user_name") Username:
            input.form-control(type="text", id="user_name",placeholder="Enter Username", name="user_name", minlength="6", maxlength="45" autofocus required)
            p.help-block
          div.form-group
            label(for="first_name") First Name:
            input.form-control(type="text", id="first_name",placeholder="First Name", name="first_name" required)
            p.help-block
          div.form-group
            label(for="last_name") Last Name:
            input.form-control(type="text", id="last_name",placeholder="Last Name", name="last_name" required)
            p.help-block
          div.form-group
            label(for="email") Email Address:
            input.form-control(type="email", id="email",placeholder="Enter Valid Email Address", name="email" required)
            p.help-block
          div.form-group
            label(for="username") Phone:  
              span.badge Format: 123-123-1234
            input.form-control(type="tel", id="phone",placeholder="Phone Number", name="phone" pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$"
            data-validation-pattern-message="Please enter a valid telephone format")
            p.help-block
          div.form-group
            label(for="username") User Level:
            select.form-control(type="text", id="user_level",placeholder="User Level", name="user_level" required)
              option(value = 0) User
              option(value = -1) Admin
            p.help-block
          div.form-group
            label(for="username") Activated:
            select.form-control(type="text", id="activated",placeholder="status", name="activated" required)
              option(value = 0) Inactive
              option(value = 1) Active
            p.help-block
          div.form-group
            label(for="modified") Last Modified:
            input.form-control(type="text", id="modified",placeholder="Last Name", name="modified" disabled)
            p.help-block
          div.form-group
            label(for="username") Last Login:
            input.form-control(type="text", id="last_login",placeholder="", name="last_login" disabled)
            p.help-block
          div.form-group
            button.btn.btn-primary(type="submit") Submit
            text    
            a.btn.btn-danger(data-dismiss='modal') Cancel