extends ../layout

block content
  if (message || notactivated || resetpassword) 
    include ../feedback/feedback
  div.col-xs-12.col-sm-9
    div.jumbotron.clearfix
      div.container
        form.form-horizontal(method="POST", action="/users/authenticate", id="loginform")
          div.form-group
            h2 Login
          div.form-group
            label.form-label(for="user_name") Username/Email:
            input.form-control(type="text", id="user_name",placeholder="Enter Username", name="user_name", autofocus required)
          div.form-group
            label.form-label(for="password") Password:
            input.form-control(type="password", id="password",placeholder="Password", name="password" required)
          div.form-group
            button.btn.btn-primary Login
          div.form-group
            tr.loginoptions
              td
                a(href='#myModal' role='button' data-toggle="modal" data-target="#myModal") Forgot Password
                text  |  
                a(href='/users/register') Create Account
  include ../modals/recoverpassmodal

    