extends ../layout

block content
  if (invalidcredentials) 
    include ../feedback/invalidcredentials
  if (resetpassword)
    include ../feedback/resetpassword
  if (reg_success)
    include ../feedback/reg_success
  if (notactivated)
    include ../feedback/notactivated
  if (activatesuccess)
    include ../feedback/activatesuccess
  if (resendactivate)
    include ../feedback/resendactivate
  div.col-xs-12.col-sm-9
    div.jumbotron.clearfix
      div.container
        form.form-horizontal(method="POST", action="/users/authenticate", id="loginform")
          div.form-group
            h2 Login
          div.form-group
            label.form-label(for="username") Username/Email:
            input.form-control(type="text", id="username",placeholder="Enter Username", name="username", autofocus required)
          div.form-group
            label.form-label(for="password") Password:
            input.form-control(type="password", id="password",placeholder="Password", name="password" required)
          div.form-group
            button.btn.btn-primary Login
          div.form-group
            tr.loginoptions
              td
                a(href='#myModal' role='button' data-toggle="modal" data-target="#myModal") Forgot Password
                text  |  
                a(href='/users/register') Create Account
  include ../modals/recoverpassmodal


    