extends ../layout

block content
  if (message || notactivated || resetpassword) 
    include ../feedback
  .row.col-sm-8.col-md-6.col-lg-4.col-centered.clearfix
    div.jumbotron.loginarea
      div.container
        form.form-horizontal(method="POST", action="/users/authenticate", id="loginform" novalidate)
          div.form-group
            h2 Login
          div.form-group
            input.form-control(type="text", id="user_name",placeholder="Username", name="user_name", maxlength="20" autofocus required)
            p.help-block
          div.form-group
            input.form-control(type="password", id="password",placeholder="Password", name="password", maxlength="20" required)
            p.help-block
          div.form-group
            button.btn.btn-primary Login
          div.form-group
            tr.loginoptions
              td
                a(href='#myModal' role='button' data-toggle="modal" data-target="#myModal") Forgot Password
                text  |  
                a(href='/users/register') Create Account
  include ../users/recoverpass
block scripts
  script(src='/scripts/page/login.js')
  script(src='/scripts/jqBootstrapValidation.js')