div.modal.fade(id='myModal' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
  div.modal-dialog.modal-md
    div.modal-content
      div.modal-header
        h4 Recover Password
          br
          small Submit email to recover password.
      div.modal-body(style="background-color:white")
        form.form-horizontal(method="POST", action="/users/forgotpassword", id="resetpassform" novalidate)
          div.form-group
            input.form-control(type="email", id="email",placeholder="Email Address", name="email", autofocus required)
            p.help-block
          div.form-group
            button.btn.btn-primary Submit
            text   
            button.btn.btn-danger(data-dismiss='modal') Cancel