extends ../layout
block content
  if (message || notactivated || resetpassword) 
    include ../feedback
  .row.col-sm-8.col-md-6.col-lg-4.col-centered.clearfix
    div.jumbotron.loginarea
      div.container
        form.form-horizontal(method="POST", action="/users/register", id="registerform" novalidate)
          div.form-group
            H2 Account Registration
          div.form-group
            input.form-control(type="text", id="user_name",placeholder="Username", name="user_name", minlength="8", autofocus required)
            p.help-block
          div.form-group
            input.form-control(type="password", id="password",placeholder="Password", minlength="8" name="password" required)
            p.help-block
          div.form-group
            input.form-control(type="password", id="password",placeholder="Confirm Password", name="password2" data-validation-match-match="password",
            data-validation-match-message="Passwords do not match" required)
            p.help-block
          div.form-group
            input.form-control(type="text", id="first_name",placeholder="First Name", name="first_name" required)
            p.help-block
          div.form-group
            input.form-control(type="text", id="last_name",placeholder="Last Name", name="last_name" required)
            p.help-block
          div.form-group
            input.form-control(type="email", id="email",placeholder="Email Address", name="email" required)
            p.help-block
          div.form-group
            input.form-control(type="tel", id="username",placeholder="Phone Number", name="phone" pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$"
            data-validation-pattern-message="Please enter a valid telephone format")
            span.badge Format: 123-123-1234
            p.help-block
          div.form-group
            button.btn.btn-primary(type="submit") Submit
            text    
            a.btn.btn-danger(type="reset", href='/users/login') Cancel
block scripts
  script(src='/scripts/jqBootstrapValidation.js')
  script $(document).ready(function(){$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();});