extends ../layout
block content
  if (message || notactivated || resetpassword) 
    include ../feedback    
  .row.col-sm-8.col-md-6.col-lg-4.col-centered.clearfix
    div.jumbotron.loginarea
      div.container
        form.form-horizontal(method="POST", action="/users/resetpass", id="resetpassform" novalidate)
          div.form-group
            h2.sub-header.section-header Reset Password
          div.form-group
            label(for="password") New Password:
            input.form-control(type="password", id="password",value="", name="password", placeholder="New Password" required)
            p.help-block
          div.form-group
            label(for="password2") Confirm New Password:
            input.form-control(type="password", id="password2",placeholder="Confirm Password", name="password2", data-validation-match-match="password"
            data-validation-match-message="Passwords do not match" required)
            p.help-block
          div.form-group
            button.btn.btn-primary(type="submit") Update
            text    
            a.btn.btn-danger(type="reset", href='/index') Cancel
block scripts
  script(src='/scripts/jqBootstrapValidation.js')
  script $(document).ready(function(){$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();});