extends ../layout
block content
  if (message) 
    include ../feedback
  div.col-xs-12.col-sm-9
    h2#pageheader.clearfix User Administration
    br
    div.input-group
      span.input-group-addon Filter
      input#filter.form-control(style="width:200px")
    div.table-responsive(style="background-color:white")
      table#eqlist.table.table-hover
        thead
          tr#tableheadings
            th Username
            th First
            th Last
            th Email
            th Type
            th Activated
            th
            th
        tbody
          tr#tablecontents
      ul.pager
            li.page-control.previous
              a(href='#') ← Prev
            li.page-control.next
              a(href='#') Next →
  //Modals
  include ../users/edituser
block css
  link(rel='stylesheet', href='/stylesheets/alertify.core.css')
  link(rel='stylesheet', href='/stylesheets/alertify.bootstrap.css')
block scripts
  script(src='/scripts/alertify.min.js')
  script(src='/scripts/page/userlist.js')